@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family:
    "Poppins" -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  scroll-behavior: smooth;
}

.css-100ebu3-menu {
  background-color: #124069;
  color: white;
  padding: 10px;
  margin-left: -10px;

}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}